body{
  margin: 0;
  padding: 0;
  background-color: #111113;
}
.main{
  background-image: url("../src/img.png");

}
.text_imag {
  color: white;
  font-weight: 500;
  align-items: center;
  margin-top: 135px;
  padding-left: 10%;
  display: flex;
  padding-bottom: 150px;
  font-size: xx-large;

}
.imag_second {
  margin-right: 120px;
}

.decentrlized h3 {
  color: #fc0254;
}
.verifie {
  color: #e8505b;
}
.decentrlized h2 {
  color: white;
}
.in_7{
  color: #fc0254;
}
.eighteen{
color: #fc0254;
}
.tele_grm {
  margin-top: 70px;
  font-size: x-large;
  background: #033248;
  border-radius: 10px 10px 10px 10px;
  height: 130px;
  width: 360px;
}
.smrtcntr {
  font-size: x-large;
  background: #bb4049;
  border-radius: 10px 10px 10px 10px;
  height: 130px;
  width: 360px;
}
.logo_img {
  margin-top: 14%;
    padding-left: 10%;
    width: 22%;
}

.global h1 {
  color: #e8505b;
    text-align: center;
    padding-top: 65px;
    font-size: 65px;
}

.three_div {
  padding-left: 82px;
  text-align: center;
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
  padding-right: 148px;
  
  
}

.total_trx {
  margin-left: 70px;
  border-radius: 4px;
  width: 27%;
  background-color:#212529;


}
.total_invested {
  border-radius: 4px;
  width: 27%;
  background-color:#212529;
}
.total_dividen{
  border-radius: 4px;
  width: 27%;
  background-color:#212529;
}
.inner_trx{
  margin-top: 150px;
    font-size: 34px;
    color: #17a2b8

}
.inner_investor{
  margin-top: 150px;
    font-size: 34px;
    color: lightgreen;

}
.inner_divide{
  margin-top: 150px;
  font-size: 34px;
  color: yellow;
}

.forth_div {
  height: 600px;
  border-radius: 6px;
  padding-top: 1%;
  margin-top: 3%;
  color: black;
  margin-left: 8%;
    padding-left: 10%;
    background-color:#212529;
    width: 30%;
}
.daily_invst h1 {
  font-family: sans-serif;
  color: lightcoral;
}
.trx-put {
  display: flex;
}

.trx p {
  color: #007bff;
}
.daily_return p {
  padding-left: 100px;
    color: darkgray;
    font-size: 30px;
  margin-top: 20px;
}
.daily_return h1{
font-size: 55px;
}
.daily_return input {
  font-size: large;
  font-size: xx-large;
    width: 50%;
}


.forth-button {
  border-radius: 6px 6px 6px 6px;
  margin-left: 12%;
  width: 43%;
  height: 60px;
  margin-top: 2%;
  border: 5px solid white;
  background-color: #28a745;
 
}
.forth-button button {
  margin-left: 35%;
  margin-top: 4%;
  font-size: 30px;
background-color:#28a745;
  border: none;
  color: white;
}
.transaction {
  margin-bottom: 10px;
  font-size: 25px;
  color: gray;
  margin-left: 30px;
}
.center_towdiv {
  display: flex;
}
.fifth_div{
  height: 573px;
    margin-top: 3%;
    background-color: #212529;
    margin-left: 5%;
    margin-top: 3%;
    width: 39%;
    border-radius: 4px;

}
.daily_divi  {
  text-align: center;
}
.daily_divi  h1{
  color: lightcoral;
  font-size: 55px;
    margin-top: 6%;
}
.daily_divi p {
  font-size: 30px;
  color: gray;
}
.daily_divi h5 {
color: gray;
font-size: 30px;
}
.fifth-button {
  border: 5px solid white;
  border-radius: 4px;
  margin-left: 34%;
  width: 33%;
  height: 66px;
  margin-top: 0%;
  background-color: red;
}
.fifth-button button{
     
  margin-top: 4%;
  background-color: red;
  border: none;
  color: white;
  font-size: 30px;
}
.six_div{
  text-align: center;
    margin-top: 1%;
    background-color: #212529;
    margin-left: 8%;
    width: 40%;
    border-radius: 4px;
    height: 170px;
    padding-top: 1%;
}
.six_div p {
  color: gray;
  font-size: larger;

}

  .last_img {
    display: flex;
  } 


.inves_nm {
  margin-left: 6%;
}
.account_select {
  text-align: center;
  padding-top: 8%;
  color: gray;
  font-size: 30px;
}
.Referra_Status {
  font-size: 30px;
  text-align: center;
  color: lightcoral; 
}
.referal {
  font-size: 27px;
  display: flex;
  padding-left: 43%;
  color: gray;
  
    
}
.referal img{
  margin-top: 2%;
  margin-left: 2%
}
.level_3{
  padding-right: 1%;
  text-align: center;
  margin-top: 60px;
  height: 160px;
  display: flex;
  justify-content: space-around;
}
.reward_10 {
  border-radius: 8px 8px 8px 8px;
  margin-right: auto;
  border: 6px solid #007bff;
  width: 31%;
  margin-left: 1%;
}
.reward_6 {
  border-radius: 8px 8px 8px 8px;
  margin-right: auto;
  border: 6px solid #007bff;
  width: 31%;
  margin-left: 3%;
}
.reward-5 {
  border-radius: 8px 8px 8px 8px;
  margin-right: auto;
  border: 6px solid #007bff;
  width: 31%;
  margin-left: 3%;
}
.level_3 h2 {
  color: lightcoral; 
  font-size: 30px;
}
.inpt_cpy {
  
  padding-left: 20%;
  padding-top: 5%;
  display: flex;
  font-size: 29px;
}
.inpt_cpy input {
  background-color: #111113;
  width: 68%;
  border-radius: 4px 4px 4px 4px;
  border:2px solid lightgoldenrodyellow;
}
.cpy-hed {
  text-align: center;
  width: 6%;
  border-radius: 4px 4px 4px 4px;
  border:2px solid lightgoldenrodyellow;
  background-color:#111113;
 color: lightcoral;  
}
.two_para {
  font-size: 30px;
  margin-top: 3%;
  text-align: center;
  color: gray;
  
}

.link_head {
  
padding-top: 10px;
font-size: 30px;
  text-align: center;
  color: lightcoral; 

}
.href_pdf {
  font-size: 40px;
  color: lightcoral; 
}
.bi_tron {
  font-size: 25px;
  text-align: center;
  padding-top: 4%;
  color: gray;
}
.daily_return h1{
  color: lightcoral; 
}
.crypto_wallet{
  padding-top: 1%;
    text-align: center;
    margin-left: 14%;
    width: 35%;
    color: gray;
    background-color: #212529;
    padding-bottom: 5%;
    font-size: x-large;
    border-radius: 6px 6px 6px 6px;
}
.smart-contract {
  font-size: x-large;
    padding-top: 1%;
    text-align: center;
    width: 35%;
    color: gray;
    background-color: #212529;
    margin-left: 2%;
    border-radius: 6px 6px 6px 6px;
}
.four_card {
  padding-top: 1%;
  display: flex;
}
.four_card h1 {
  font-family: monospace;
  color: lightcoral; 
}

.about-bi {
  padding-top: 4%;
  text-align: center;
  font-family: system-ui;
}
.about-bi p {
  color: gray;

}
.about-bi h1{
  color: white;
}
.bitr {
  font-size: x-large;
  color: lightcoral; 
  text-align: center;
}
.copy_right {
  font-size: x-large;
  color: white;
  text-align: center;
}
.trx-put input {
  border-radius: 6px 0px 0px 6px;
    width: 60%;
}
.trx-put{
  height: 14%;
    display: flex;
    width: 90%;
}
.trx-put h2 {
  padding-top: 3%;
  border-radius: 0px 6px 6px 0px;
  margin-bottom: 0%;
  background-color: lightgray;
  margin-top: 0%;
  width: 14%;
  text-align: center;
  font-weight: 500;
}
.four_invest {
  display: flex;
  background-color: #111113;
}
.crypto_profit {
  border-radius: 6px 6px 6px 6px;
  margin-top: 10px;
  margin-right: 1%;
  background-color: #212529;
  width: 35%;
  margin-left: 14%;
}
.smart-rewrd {
  border-radius: 6px 6px 6px 6px;
  margin-top: 10px;
  background-color: #212529;
  width: 35%;
  margin-left: 1%;
}
.crypto_profit h1{
  text-align: center;
  font-family: system-ui;
}
.crypto_profit p {
  padding-right: 1%;
    font-size: x-large;
    padding-left: 6%;
    color: gray;
}
.smart-rewrd h1 {
  text-align: center;
  font-family: sans-serif;
}
.smart-rewrd p{
  padding-right: 1%;
  font-size: x-large;
  padding-left: 6%;
  color: gray;
}



