body{
  margin: 0;
  padding: 0;
  background-color: #111113;
} 
.main{
  background-image: url("../src/img.png");
}
.imag_second {
  margin-right: 140px;
}

.text_imag {
  font-size: 50px;
    color: white;
    align-items: center;
    margin-top: 135px;
    padding-left: 10%;
    display: flex;
    padding-bottom: 220px;
}
.decentrlized h3 {
  color: #fc0254;
}
.verifie {
  color: #e8505b;
}
.decentrlized h2 {
  color: white;
  font-size: 84px;
}
.in_7{
  color: #fc0254;
}
.eighteen{
color: #fc0254;
}
.tele_grm {
  margin-top: 70px;
  font-size: 25px;
  background: #033248;
  border-radius: 20px 20px 20px 20px;
  height: 180px;
  width: 533px;
  color: white;
}
.smrtcntr {
  font-size: 25px;
  color: white;
  background: #bb4049;
  border-radius: 20px 20px 20px 20px;
  height: 180px;
  width: 533px;
}
.logo_img {
  margin-top: 14%;
    padding-left: 10%;
    width: 22%;
}

.global h1 {
  color: #e8505b;
    text-align: center;
    padding-top: 65px;
    font-size: 95px;
}

.three_div {
  padding-left: 142px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding-right: 222px;
}

.total_trx {
  margin-left: 70px;
  border-radius: 10px 10px 10px 10px;
  width: 27%;
  background-color:#212529;


}
.total_invested {
  border-radius: 10px 10px 10px 10px;
    width: 27%;
    background-color: #212529;
}
.total_dividen{
  border-radius: 10px 10px 10px 10px;
  width: 27%;
  background-color:#212529;
}
.inner_trx{
  margin-top: 228px;
  font-size: 50px;
  color: #17a2b8;

}
.inner_investor{
  margin-top: 228px;
  font-size: 50px;
    color: lightgreen;

}
.inner_divide{
  margin-top: 228px;
  font-size: 50px;
  color: yellow;
}

.forth_div {
  border-radius: 10px 10px 10px 10px;
  margin-top: 3%;
  padding-bottom: 110px;
  color: black;
  margin-left: 8%;
  padding-left: 10%;
  background-color: #212529;
  width: 27%;
}
.daily_invst h1 {
  font-size: 85px;
  color: lightcoral;
}
.trx-put {
  display: flex;
}

.trx p {
  color: #007bff;
}
.daily_return p {
  padding-left: 117px;
  color: darkgray;
  font-size: 46px;
}
.daily_return h4{
  font-size: 44px;
    color: gray;
    margin-left: 172px;
}
.daily_return h1{
font-size: 85px;
}
.daily_return input {
  font-size: large;
  font-size: xx-large;
    width: 50%;
}


.forth-button {
  border-radius: 10px 10px 10px 10px;
  width: 49%;
  margin-top: 2%;
  border: 8px solid white;
  background-color: #28a745;
  margin-left: 85px;
  padding-bottom: 20px;
 
}
.forth-button button {
  margin-left: 35%;
  margin-top: 4%;
  font-size: 40px;
background-color:#28a745;
  border: none;
  color: white;
}
.transaction {
  margin-bottom: 10px;
  font-size: 36px;
  color: gray;
  margin-left: 60px;
}
.center_towdiv {
  display: flex;
}
.fifth_div{
  background-color: #212529;
    margin-left: 5%;
    margin-top: 3%;
    width: 40%;
    margin-bottom: 100px;
    border-radius: 4px;

}
.daily_divi  {
  text-align: center;
}
.daily_divi  h1{
  color: lightcoral;
    font-size: 85px;
    margin-top: 4%;
}
.daily_divi p {
  font-size: 42px;
  color: gray;
}
.daily_divi h5 {
color: gray;
font-size: 26px;
}
.fifth-button {
  border: 6px solid white;
    border-radius: 6px 6px 6px 6px;
    margin-left: 34%;
    width: 33%;
    height: 92px;
    background-color: red;
}
.fifth-button button{
     
  margin-top: 4%;
  background-color: red;
  border: none;
  color: white;
  font-size: 40px;
}
.six_div{
  margin-left: 316px;
  margin-bottom: 352px;
  text-align: center;
  margin-top: 2%;
  background-color: #212529;
  width: 37%;
  border-radius: 6px 6px 6px 6px;

}
.six_div p {
  font-size: 46px;
  color: gray;

}

  .last_img {
    display: flex;
  } 


.inves_nm {
  margin-left: 10%;
  margin-top: 230px;
}
.account_select {
  text-align: center;
  padding-top: 8%;
  color: gray;
  font-size: 40px;
}
.Referra_Status {
  font-size: 45px;
  text-align: center;
  color: lightcoral; 
}
.referal {
  font-size: 40px;
  display: flex;
  padding-left: 43%;
  color: gray;
  
    
}
.referal img{
  margin-top: 2%;
  margin-left: 2%
}
.level_3{
  padding-right: 1%;
  text-align: center;
  margin-top: 60px;
  height: 250px;
  display: flex;
  justify-content: space-around;
}
.reward_10 {
  border-radius: 15px 15px 15px 15px;
  margin-right: auto;
  border: 6px solid #007bff;
  width: 31%;
  margin-left: 2%;
}
.reward_6 {
  border-radius: 15px 15px 15px 15px;
  margin-right: auto;
  border: 6px solid #007bff;
  width: 31%;
}
.reward-5 {
  border-radius: 15px 15px 15px 15px;
  margin-right: auto;
  border: 6px solid #007bff;
  width: 31%;
}
.level_3 h2 {
  color: lightcoral; 
  font-size: 50px;
}
.inpt_cpy {
  
  padding-left: 20%;
  padding-top: 5%;
  display: flex;
  font-size: 45px;
}
.inpt_cpy input {
  background-color: #111113;
  width: 68%;
  border-radius: 4px 4px 4px 4px;
  border:2px solid lightgoldenrodyellow;
}
.cpy-hed {
  text-align: center;
  width: 6%;
  border-radius: 4px 4px 4px 4px;
  border:2px solid lightgoldenrodyellow;
  background-color:#111113;
 color: lightcoral;  
}
.two_para {
  font-size: 45px;
  margin-top: 3%;
  text-align: center;
  color: gray;
  
}

.link_head {
  
padding-top: 10px;
font-size: 50px;
  text-align: center;
  color: lightcoral; 

}
.href_pdf {
  font-size: 60px;
  color: lightcoral; 
}
.bi_tron {
  font-size: 40px;
  text-align: center;
  padding-top: 4%;
  color: gray;
}
.daily_return h1{
  color: lightcoral; 
}
.crypto_wallet{
  padding-top: 1%;
  text-align: center;
  margin-left: 14%;
  width: 35%;
  color: gray;
  background-color: #212529;
  padding-bottom: 2%;
  border-radius: 6px 6px 6px 6px;
}
.crypto_wallet p {
  font-size: 42px;
    padding-top: 20px;

}
.smart-contract {
    padding-top: 1%;
    text-align: center;
    width: 35%;
    color: gray;
    background-color: #212529;
    margin-left: 2%;
    border-radius: 6px 6px 6px 6px;
}
.smart-contract p{
  font-size: 42px;
}

.four_card {
  padding-top: 1%;
  display: flex;
}
.four_card h1 {
  font-size: 85px;
  color: lightcoral; 
}

.about-bi {
  padding-top: 4%;
  text-align: center;
  font-family: system-ui;
}
.about-bi p {
  color: gray;
  font-size: 42px;

}
.about-bi h1{
  font-size: 75px;
  color: white;
}
.bitr {
  font-size: 70px;
  color: lightcoral;
  text-align: center;
}
.copy_right {
  font-size: 50px;
  color: white;
  text-align: center;
}
.trx-put input {
  border-radius: 10px 10px;
    width: 70%;
}
.trx-put{
  height: 14%;
    display: flex;
    width: 76%;
}
.trx-put h2 {
  border-radius: 0px 6px 6px 0px;
  background-color: lightgray;
    width: 15%;
    height: 112px;
    padding-top: 10px;
    margin-top: 4px;
    text-align: center;
    font-size: 30px;
  }
.four_invest {
  padding-top: 16px;
  display: flex;
  background-color: #111113;
}
.crypto_profit {
  padding-bottom: 100px;
    border-radius: 6px 6px 6px 6px;
    margin-top: 15px;
    margin-right: 1%;
    background-color: #212529;
    width: 35%;
    margin-left: 14%;
}
.smart-rewrd {
  border-radius: 6px 6px 6px 6px;
  margin-top: 15px;
  background-color: #212529;
  width: 35%;
  margin-left: 1%;
}
.crypto_profit h1{
  font-size: 80px;
  color: lightcoral;
  text-align: center;
  margin-top: 57px;
}
.crypto_profit p {
  font-size: 42px;
    padding-left: 4%;
    color: gray;
}
.smart-rewrd h1 {
  color: lightcoral; 
  font-size: 85px;
  text-align: center;
}
.smart-rewrd p{
    padding-left: 5%;
    color: gray;
    font-size: 45px;
}




/* @media (min-width: 800px) { #decentrlized{
  border: 15px solid red;
} }
@media (max-width: 500px) { #decentrlized{
  border: 15px solid blue;
} } */
